# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Log
*.log
*.log.*
# *.json
# *.jsonl

# Data
!**/alpaca-data-conversation.json
# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
project_checkpoints
debug_checkpoints
ckpts*

# DevContainer
!.devcontainer/*

# demo/


experiments/
*.out
pretrained_models/

huggingface/
