# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
# *.json
# *.jsonl

# Data
!**/alpaca-data-conversation.json
# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
project_checkpoints
debug_checkpoints
ckpts*

# DevContainer
!.devcontainer/*

# demo/


experiments/
*.out
pretrained_models/

huggingface/